@model ChangeCredentialsVM


<section class="p-4 mb-2">
    <div class="container bg-secondary text-light">
        <h2 class="text-center py-4 m-0">Moje konto <i class="bi bi-person-circle"></i></h2>
        <div class="row my-2">
            <div class="col-8 offset-2 ">
                <form method="post" asp-action="ChangeCredentials">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if (TempData["ChangedCredentials"] != null)
                    {
                        <div class="alert alert-success">@TempData["ChangedCredentials"]</div>
                    }

                    @Html.LabelFor(m => m.FullName, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control bg-dark text-light" })
                    @Html.ValidationMessageFor(m => m.FullName)

                    @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control bg-dark text-light" })
                    @Html.ValidationMessageFor(m => m.UserName)

                    @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control bg-dark text-light" })
                    @Html.ValidationMessageFor(m => m.EmailAddress)
                    <div class="form-group my-3">
                        <input class="btn btn-outline-success float-right btn-to-resize" type="submit" value="Zapisz" />
                        <a class="btn btn-outline-danger btn-to-resize" asp-controller="Home" asp-action="Index">Anuluj</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<script>

        window.addEventListener('resize', function () {

            var screenWidth = window.innerWidth;


            if (screenWidth <= 450) {

                var buttons = document.querySelectorAll('.btn-to-resize');
                buttons.forEach(function (button) {
                    button.classList.add('btn-sm');
                });
            } else {

                var buttons = document.querySelectorAll('.btn-to-resize');
                buttons.forEach(function (button) {
                    button.classList.remove('btn-sm');
                });
            }
        });

        window.addEventListener('load', function () {

            window.dispatchEvent(new Event('resize'));
        });

</script>
