@model MyAccountParentVM;

@{
    ViewData["Title"] = "Ustawienia konta";
}
<section class="p-4 mb-2">
    <div class="container bg-secondary text-light">
        <h2 class="text-center py-4 m-0">moje konto <i class="bi bi-person-circle"></i></h2>
        <div class="row my-2">
            <div class="col-8 offset-2 mb-5 ">
                <form method="post" asp-action="ChangeCredentials">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if (TempData["ChangedCredentials"] != null)
                    {
                        <div class="alert alert-success">@TempData["ChangedCredentials"]</div>
                    }

                    @Html.LabelFor(m => m.Credentials.FullName, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Credentials.FullName, new { @class = "form-control bg-dark text-light" })
                    @Html.ValidationMessageFor(m => m.Credentials.FullName)

                    @Html.LabelFor(m => m.Credentials.UserName, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Credentials.UserName, new { @class = "form-control bg-dark text-light" })
                    @Html.ValidationMessageFor(m => m.Credentials.UserName)

                    @Html.LabelFor(m => m.Credentials.EmailAddress, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Credentials.EmailAddress, new { @class = "form-control bg-dark text-light" })
                    @Html.ValidationMessageFor(m => m.Credentials.EmailAddress)
                    <div class="form-group my-3">
                        <input class="btn btn-outline-success float-right" type="submit" value="Zapisz zmiany" />
                        <a class="btn btn-outline-danger" asp-controller="Home" asp-action="Index">Anuluj</a>
                    </div>

                </form>
                <a asp-controller="Account" asp-action="ChangePassword" class=" btn btn-lg btn-block btn-dark mb-2">zmień hasło <i class="bi bi-lock-fill"></i></a>
                <a asp-controller="Account" asp-action="Delete" class="btn btn-block btn-lg btn-dark">usuń konto <i class="bi bi-box-arrow-in-right"></i></a>





            </div>
        </div>


    </div>
</section>
